#p-error_message{
  text-align: center;
  color: var(--warning);
  background-image: linear-gradient(-90deg, #0000, #000, #0000);

  /*text-shadow: -1px -1px 4px #000, -1px 1px 4px #000, 1px -1px 4px #000, 1px 1px 4px #000;*/
}